$font-stack: Poppins;
$color-black: #000000;
$color-white: #ffffff;
$color-green: #054e4a;
$color-red: #a42003;
$color-gray: #6e331a;
$color-form: #f6f3ee;
$color-contact: #f6f2ee;
$background: rgba(0, 0, 0, 0.4);
$background-bar: rgba(255, 255, 255, 0.7);
$space-between: space-between;
